@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.app {
  min-height: 100vh;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.header {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 5px;
}

.search-button {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background: #02aff0;
  color: white;
  cursor: pointer;
}

.search-button:hover {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background: white;
  color: #02aff0;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.element {
  margin: 30px 10px;
  cursor: pointer;
}

.element-text {
  font-family: "Poppins", sans-serif;
  max-width: 200px;
}

.element-img {
  border-radius: 5px;
}
